@import "../../../assets/style/variables";

.productTable {
    &-img {
        max-width: 50px;
        max-height: 50px;
        padding: 4px;
        border: 1px solid #eee;
        border-radius: 4px;
        margin-right: 8px;
    }

    &-name {
        font-weight: normal;
        display: flex;
        align-items: center;
    }

    &-val {
        font-size: 26px;
        font-weight: normal;
        color: $color-green;
    }
}
