<h1 mat-dialog-title>
    Adicionar Anúncio
</h1>
<div mat-dialog-content class="modal-register">

    <mat-form-field appearance="outline">
        <mat-label>Nome do Anúncio</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea matInput placeholder="Digite a Descrição do anúncio"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>URL de Destino</mat-label>
        <input matInput>
    </mat-form-field>

    <app-image-cover text="Imagem de Destaque"></app-image-cover>

    <mat-slide-toggle>Produto ativo</mat-slide-toggle>

</div>

<div mat-dialog-actions>
    <button mat-button>
        Cancelar
    </button>

    <button mat-button class="btn-green">
        Adicionar Anúncio
    </button>
</div>
