* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    background-color: $color-bg;
    line-height: 1;
    color: $color-black;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $color-blue;
    text-decoration: none;
}

button {
    &:focus {
        outline: 0;
    }
}

ul {
    list-style: none;
}

// ICON SVG
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
