<section class="sessionHeader">
    <div class="sessionHeader-content">
        <h1 class="sessionHeader-title">
            Sistema de Cupom (Compre X Ganhe 1)
        </h1>
        <p class="sessionHeader-subtitle">
            Um programa onde seus clientes ganham pela frequência de compras.

            <span class="breakLine">
                Um cupom no valor do produto é conferido ao cliente que atingir
                o número estipulado de compras que você definir.
            </span>

            <span class="breakLine">
                Clique em
                <a routerLink="/fidelity/buy-win/create" class="decoration">
                    <strong>
                        Criar Cupom
                    </strong>
                </a>e crie sua promoção.
            </span>
        </p>
    </div>

    <button mat-flat-button color="primary" routerLink="/fidelity/buy-win/create">
        <mat-icon>add</mat-icon>
        Criar Cupom
    </button>
</section>

<section>
    <app-fidelity-buy-win-table></app-fidelity-buy-win-table>
</section>
