<section class="sessionHeader">
    <div class="sessionHeader-content">
        <h1 class="sessionHeader-title">
            Sistema de Cupom (Compre X Ganhe 1)
        </h1>
        <p class="sessionHeader-subtitle">
            Selecione um de seus produtos para ser promovido nas redes sociais
        </p>
    </div>

    <button mat-flat-button color="primary" routerLink="fidelity/buy-win/create">
        <mat-icon>add</mat-icon>
        Criar Programa
    </button>
</section>

<section>

</section>
