@import "../../../assets/style/variables";

.productTable {
    &-star {
        font-size: 16px;
        display: flex;
        justify-content: flex-end;

        .icon {
            margin-right: 4px;

            &.isActive {
                color: $color-yellow;
            }
        }
    }
}

::ng-deep {
    .productTable {
        &-discount {
            .mat-form-field-appearance-outline {
                .mat-form-field-wrapper {
                    margin: 0;
                    padding: 0;
                }

                .mat-form-field-flex {
                    height: 36px;
                    background-color: #fff;
                    margin: 0;
                }

                .mat-form-field-outline {
                    top: 0;
                }

                .mat-form-field-infix {
                    padding: 8px 0;
                    margin: 0;
                    border-top: none;
                    width: 110px;
                }
            }
        }
    }
}
