<app-svg></app-svg>

<app-header></app-header>

<app-menu></app-menu>

<main>
<!--
    <a routerLink="dashboard/report">
        dashboard/report
    </a>
    <a routerLink="store/personalize">
        store/personalize
    </a>
    <a routerLink="store/units">
        store/units
    </a>
    <a routerLink="store/permissions">
        store/permissions
    </a>
    <a routerLink="store/booking">
        store/booking
    </a>
    <a routerLink="fidelity/engagement">
        fidelity/engagement
    </a>
    <a routerLink="fidelity/buy-win">
        fidelity/buy-win
    </a>
    <a routerLink="fidelity/cupons">
        fidelity/cupons
    </a>
    <a routerLink="product/register">
        product/register
    </a>
    <a routerLink="product/list">
        product/list
    </a>
    <a routerLink="promote/publicity">
        promote/publicity
    </a>
    <a routerLink="promote/direct-mail">
        promote/direct-mail
    </a>
    <a routerLink="promote/push">
        promote/push
    </a>
 -->

    <router-outlet></router-outlet>
</main>
