<h2 class="subtitle">
    Lista de Unidades <small>(exibindo 7 de 20)</small>
</h2>


<mat-card class="nopadding">
    <div class="table-header">
        0 de 10 selecionado

        <mat-form-field class="table-header-actions">

            <mat-select placeholder="Ações em massa">
                <mat-option value="pause">Pausar</mat-option>
                <mat-option value="delete">Excluir</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="table-header-search">
            <mat-label>Buscar produto</mat-label>
            <mat-icon matSuffix>search</mat-icon>
            <input matInput placeholder="Digite seu termo de busca">
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource">

        <!-- SELECT -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef class="table-checkbox">
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="selection.toggle(row)" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- PRODUCT -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
                Unidade
            </th>
            <td mat-cell *matCellDef="let element">
                <div class="table-productName">
                    <img [src]="element.img" [alt]="element.name" class="table-productImg">
                    {{element.name}}
                </div>
            </td>
        </ng-container>

        <!-- CITY -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef>
                Cidade
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.city}}
            </td>
        </ng-container>

        <!-- STATE -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>
                Estado
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.state}}
            </td>
        </ng-container>

        <!-- EMAIL -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>
                E-mail
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.email}}
            </td>
        </ng-container>

        <!-- PHONE -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>
                Telefone
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.phone}}
            </td>
        </ng-container>

        <!-- RATING -->
        <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef class="text-right">
                Avaliações
            </th>
            <td mat-cell *matCellDef="let element">
                <!-- TO DO, pensar melhor maneira pra integrar -->
                <!-- {{element.rating}} -->

                <div class="review-star">
                    <svg class="icon icon-star isActive">
                        <use xlink:href="#icon-star"></use>
                    </svg>
                    <svg class="icon icon-star isActive">
                        <use xlink:href="#icon-star"></use>
                    </svg>
                    <svg class="icon icon-star isActive">
                        <use xlink:href="#icon-star"></use>
                    </svg>
                    <svg class="icon icon-star">
                        <use xlink:href="#icon-star"></use>
                    </svg>
                    <svg class="icon icon-star">
                        <use xlink:href="#icon-star"></use>
                    </svg>
                </div>
            </td>
        </ng-container>

        <!-- VISIBLE -->
        <ng-container matColumnDef="visible">
            <th mat-header-cell *matHeaderCellDef>
                Visível
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.visible}}
            </td>
        </ng-container>

        <!-- ACTIONS -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="table-action" width="164">
                Ações
            </th>

            <td mat-cell *matCellDef="let element" class="table-action">

                <button mat-flat-button class="btn-circle" matTooltip="Editar Produto">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-flat-button class="btn-circle" matTooltip="Pausar Produto">
                    <mat-icon>pause</mat-icon>
                </button>

                <button mat-flat-button class="btn-circle" matTooltip="Excluir Produto">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'table-tr-isActive': selection.isSelected(row)}">
        </tr>
    </table>

    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-card>
