@import "variables";

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $color-purple;
    width: $menu-width;
    z-index: 9;

    &-logo {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        background-color: $color-purple-dark;
        height: $header-height;
        display: flex;
        align-items: center;

        .icon-logo-wiboo {
            font-size: 28px;
            margin-right: $space-side;
        }
    }

    &-link {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: bold;
        display: flex;
        align-items: center;
        transition: background-color 0.2s ease, transform 0.2s ease;
        cursor: pointer;

        &-arrowDown {
            font-size: 12px;
            margin-left: auto;
        }

        &-icon {
            font-size: 24px;
            margin-right: $space-side;
        }

        &:hover {
            background-color: #271046;
        }

        &.is-active {
            background-color: #1E0C35;

            .menu-link-iconDown {
                transform: rotate(-180deg);
            }
        }
    }

    &-logo,
    &-link {
        padding: $space-side;
    }


     &-submenu {
         font-size: 14px;
        height: 0;
        overflow: hidden;
        background-color: #391868;
        transition: height 0.4s ease;

        &-link {
            color: rgba(255, 255, 255, 0.8);
            padding: 12px $space-side;
            display: block;
            line-height: 1;

            &:hover {
                color: #FFF;
            }
        }
    }
}
