<ul class="row">

    <li class="col-sm" *ngFor="let metric of metricsList">

        <div class="metrics card">

            <span *ngIf="metric.percentage" class="metrics-help" tooltip="Desde o útimo mês">
                <svg class="icon icon-help">
                    <use xlink:href="#icon-help"></use>
                </svg>
            </span>

            <span class="metrics-icon" [ngClass]="'icon-' + metric.icon">
                <svg class="icon">
                    <use attr.xlink:href="#icon-{{metric.icon}}"></use>
                </svg>
            </span>

            <span class="metrics-name">
                {{metric.name}}
            </span>
            <strong class="metrics-val">
                {{metric.val}}
            </strong>

            <small *ngIf="metric.percentage" tooltip="Desde o útimo mês">
                <span class="metrics-details"
                    [ngClass]="{
                        'metrics-details-up': metric.isUp,
                        'metrics-details-down': metric.isDown }">

                    {{metric.percentage}}
                </span>
            </small>

            <small *ngIf="metric.totalWibx" tooltip="Valor total disponível" class="metrics-details">
                <span class="metrics-details-total">
                    Total:
                </span>
                {{metric.totalWibx}}
            </small>
        </div>

    </li>

</ul>
