<!--
    icone de HELP
    https://dribbble.com/shots/5363083-A-Analytics-Overview/attachments/1162771
 -->

<ul class="row">

    <li class="col-sm">

        <div class="metrics card">
            <span class="metrics-icon blue">
                <svg class="icon icon-users">
                    <use xlink:href="#icon-users"></use>
                </svg>
            </span>

            <span class="metrics-name">
                Total de Clientes
            </span>
            <strong class="metrics-val">
                2547
            </strong>
            <small class="metrics-details metrics-details-up">
                <span tooltip="Desde o útimo mês">
                    77%
                </span>
            </small>
        </div>

    </li>

    <li class="col-sm">

        <div class="metrics card">
            <span class="metrics-icon green">
                <svg class="icon icon-buy">
                    <use xlink:href="#icon-buy"></use>
                </svg>
            </span>

            <span class="metrics-name">
                Total de vendas
            </span>
            <strong class="metrics-val">
                3.427,00
            </strong>
            <small class="metrics-details metrics-details-down">
                <span tooltip="Desde o útimo mês">
                    6%
                </span>
            </small>
        </div>

    </li>

    <li class="col-sm">

        <div class="metrics card">
            <span class="metrics-icon yellow">
                <svg class="icon icon-shared">
                    <use xlink:href="#icon-shared"></use>
                </svg>
            </span>

            <span class="metrics-name">
                Total de compartilhamentos
            </span>
            <strong class="metrics-val">
                2.547.251
            </strong>
            <small class="metrics-details metrics-details-up">
                <span tooltip="Desde o útimo mês">
                    75%
                </span>
            </small>
        </div>

    </li>

    <li class="col-sm">

        <div class="metrics card">
            <span class="metrics-icon pink">
                <svg class="icon icon-dollar">
                    <use xlink:href="#icon-dollar"></use>
                </svg>
            </span>

            <span class="metrics-name">
                Receita em WiBX
            </span>
            <strong class="metrics-val">
                890,50
            </strong>
            <small class="metrics-details metrics-details-down">
                <span tooltip="Desde o útimo mês">
                    12%
                </span>
            </small>
        </div>

    </li>

    <li class="col-sm">

        <div class="metrics card">
            <span class="metrics-icon purple">
                <svg class="icon icon-dollar">
                    <use xlink:href="#icon-dollar"></use>
                </svg>
            </span>

            <span class="metrics-name">
                Saldo em WiBX
            </span>
            <strong class="metrics-val">
                1.547.234
            </strong>
            <small class="metrics-details">
                <!-- Valor total disponível 2.547.234 -->
                2.547.234
            </small>
        </div>

    </li>

</ul>
