@import "variables";

.table-header {
    padding: 0 24px;
    display: flex;
    align-items: center;

    &-search {
        max-width: 200px;
        margin-left: auto;
    }

    &-actions {
         max-width: 200px;
         margin-left: 26px;
    }
}

.productTable {
    &-img {
        max-width: 50px;
        max-height: 50px;
        padding: 4px;
        border: 1px solid #eee;
        border-radius: 4px;
        margin-right: 8px;
    }

    &-name {
        font-weight: normal;
        display: flex;
        align-items: center;
    }

    &-val {
        font-size: 26px;
        font-weight: normal;
        color: $color-green;
    }

    &-star {
        font-size: 16px;
        display: flex;
        justify-content: flex-end;

        .icon {
            margin-right: 4px;

            &.isActive {
                color: $color-yellow;
            }
        }
    }
}
