<!--
    TO DO, receber a variavel pra transfomar em TRANSLATE
 -->
<label for="inputFile" class="upload-text">
    {{text}}
</label>

<div class="upload">
    <input type="file" name="" id="inputFile" #inputFile class="hide">
    <input disabled value="arquivo.xsl" class="upload-input">

    <button mat-stroked-button color="primary" (click)="inputFile.click()" class="btn">
        <mat-icon>publish</mat-icon>
        Selecionar Arquivo
    </button>
</div>
<mat-hint class="upload-help">
    Arquivo suportado: {{fileSupport}} / Limite de tamanho: {{sizeLimit}} mb
</mat-hint>
