<section class="sessionHeader">
    <div class="sessionHeader-content">
        <h1 class="sessionHeader-title">
            Acesso Exclusivo
        </h1>
        <p class="sessionHeader-subtitle">
            Crie Programas de acesso exclusivo e diferenciado para seus Clientes.
        </p>
    </div>

    <button mat-flat-button color="primary" routerLink="/active/create">
        <mat-icon>add</mat-icon>
        Criar Programa
    </button>
</section>

<section>
    <app-active-list-program></app-active-list-program>
</section>
