<div class="program container">
    <app-breadcrumbs [listBreadcrumb]="listBreadcrumb"></app-breadcrumbs>

    <h1 class="sessionHeader-title margin-bottom-16">
        Adicionar Unidade
    </h1>

    <mat-card>
        <h2 class="formGroupTitle">
            Dados da Unidade
        </h2>

        <mat-form-field appearance="outline">
            <mat-label>Nome da Unidade</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="email">
        </mat-form-field>

        <h2 class="formGroupTitle">
            Endereço da Unidade
        </h2>

        <div class="row">
            <mat-form-field appearance="outline" class="col-sm-2">
                <mat-label>CEP</mat-label>
                <input matInput type="email">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-sm-5">
                <mat-label>Endereço</mat-label>
                <input matInput type="email">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-sm-2">
                <mat-label>Complemento</mat-label>
                <input matInput type="email">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-sm-3">
                <mat-label>Bairro</mat-label>
                <input matInput type="email">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" class="col-sm-6">
                <mat-label>Cidade</mat-label>
                <input matInput type="email">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-sm-6">
                <mat-label>Estado</mat-label>
                <mat-select>
                    <mat-option value="sp">
                        São Paulo
                    </mat-option>
                    <mat-option value="rj">
                        Rio de Janeiro
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="formAction">
            <button mat-flat-button color="primary" class="formAction-btn">
                Adicionar Unidade
            </button>
        </div>
    </mat-card>
</div>
