@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/style/material-config";
@import "assets/style/variables";
@import "assets/style/reset";
@import "assets/style/grid/bootstrap-grid";
@import "assets/style/card";
@import "assets/style/table";

.subtitle {
    font-size: 18px;
    font-weight: normal;
    margin: 16px 0;

    small {
        font-size: 12px;
    }
}

// UTILITIES
.text-right {
    text-align: right !important;
}

// BTN
.btn {
    &-green {
        color: #fff;
        background-color: $color-green;
    }
}

.sessionHeader {
    display: flex;
    align-items: center;

    &-title {
        font-size: 28px;
        margin-right: auto;
    }

    &-content {
        margin-right: auto;
    }

    &-subtitle {
        margin: 8px 0 24px;
    }
}


.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.breakLine {
    display: block;
}

.hide {
    display: none !important;
}

.mat-tab-container {
    padding: 12px 0;
}

.status {
    font-size: 12px;
    text-align: center;
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    display: inline-block;
    min-width: 60px;

    &-active {
        background-color: $color-green;
    }

    &-expired {
        background-color: $color-yellow;
    }

    &-delete {
        background-color: $color-red;
    }
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.review {
    &-star {
        font-size: 16px;
        display: flex;
        justify-content: flex-end;

        .icon {
            margin-right: 4px;

            &.isActive {
                color: $color-yellow;
            }
        }
    }
}

.decoration {
    text-decoration: underline;
}

.container {
    width: 100%;
    max-width: 920px;
    margin: auto;
}

.formGroupTitle {
    font-size: 22px;
    margin: 12px 0 16px;
}

.formAction {
    display: flex;
    border-top: 1px solid #eee;
    padding-top: 24px;
    margin-top: 24px;

    .formAction-btn {
        margin-left: auto;
        font-size: 16px;
        line-height: 40px;
    }
}
