@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "material-config";
@import "variables";
@import "reset";
@import "grid/bootstrap-grid";

.subtitle {
    font-size: 18px;
    font-weight: normal;
    margin: 16px 0;

    small {
        font-size: 12px;
    }
}

.card {
    color: $color-black;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #eee;
    padding: $space-side;

    &-title {
        font-size: 20px;
        border-bottom: 1px solid $color-bg;
        padding-bottom: $space-side;
        margin-bottom: $space-side;
    }
}

table {
    width: 100%;
}

.table {
    &-action {
        text-align: center !important;
    }

    &-checkbox {
        width: 52px;
    }
}

// UTILITIES
.text-right {
    text-align: right !important;
}

// BTN
.btn {
    &-green {
        color: #fff;
        background-color: $color-green;
    }
}

.sessionHeader {
    display: flex;
    align-items: center;

    &-title {
        font-size: 28px;
        margin-right: auto;
    }
}

.nopadding {
    padding: 0 !important;
}

.hide {
    display: none !important;
}
